##
# Portal and Web Services AddressForAll
##


server {
        server_name preserv.addressforall.org;
        root /var/www/preserv.addressforall.org/;
        index  index.php index.html index.htm;
        access_log /var/log/nginx/addressforall.org.access_log;

    location / {
      try_files $uri $uri/  /index.php?uri=$uri;
    }
    location ~ \.php$ {
          include snippets/fastcgi-php.conf;
          fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
} # \server


server {
        server_name git.addressforall.org;

        location ~ ^/?.+ {
                rewrite
                  ^/?licenses(/.*$|$)
                  /ppKrauss/licenses/$1
                  break;
                rewrite
                  ^/?(.*)$
                  /AddressForAll/$1
                  break;

                proxy_pass http://github.com;
        }
} #end server

server {
        server_name git-raw.addressforall.org;

        location ~ ^/?.+ {
                rewrite
                  ^/?licenses(/.*$|$)
                  /ppKrauss/licenses/$1
                  break;
                rewrite
                  ^/?(.*)$
                  /AddressForAll/$1
                  break;
                proxy_pass https://raw.githubusercontent.com;
        }
} #end server


# API!

server {
    server_name api.addressforall.org;
    access_log /var/log/nginx/addressforall.org.access_log;
    root /var/www/addressforall.org/;
    index  index.php index.html index.htm;

    # JSON SQL & RPC:
    location /_sql.csv/ {
      proxy_set_header Accept 'text/csv';
      proxy_pass http://localhost:3104/;
    }
    location /_sql.json/ {
      proxy_pass http://localhost:3104/;
    }
    location /_sql/ {
      proxy_pass http://localhost:3104/;
    }

    # API /v1{formatoSaida}/{modulo}/{funcao}/{parametros}

    location ~ /v1(?:\.json)?/([a-z_][a-z0-9_]*)/([a-z_][a-z0-9_]*)/(.+) {
      proxy_pass http://localhost:3104/rpc/uridisp_$1_$2?p_uri=$3&$args;
    }
    location ~ /v1\.csv/([a-z_][a-z0-9_]*)/([a-z_][a-z0-9_]*)/(.+) {
      proxy_set_header Accept 'text/csv';
      proxy_pass http://localhost:3104/rpc/uridisp_$1_$2?p_uri=$3&$args;
    }

} # \server

server {
    server_name api-test.addressforall.org;
    access_log /var/log/nginx/addressforall.org.access_log;
    root /var/www/addressforall.org/;
    index  index.php index.html index.htm;

    # ROOT, somente json:
    location = / {
      proxy_pass http://localhost:3103/rpc/apiroot;
    }

    # JSON SQL & RPC:
    location /_sql.csv/ {
      proxy_set_header Accept 'text/csv';
      proxy_pass http://localhost:3103/;
    }
    location /_sql.json/ {
      proxy_pass http://localhost:3103/;
    }
    location /_sql/ {
      proxy_pass http://localhost:3103/;
    }

    # API /v1{formatoSaida}/{modulo}/{funcao}/{parametros}
    location ~ /v1(?:\.json)?/([a-z_][a-z0-9_]*)/([a-z_][a-z0-9_]*)(?:/(.*)|) {
      proxy_pass http://localhost:3103/rpc/uridisp_$1_$2?p_uri=$3&$args;
    }
    location ~ /v1\.csv/([a-z_][a-z0-9_]*)(?:~(agg))?/([a-z_][a-z0-9_]*)(?:/(.*)|) {
      proxy_set_header Accept 'text/csv';
      proxy_pass http://localhost:3103/rpc/uridisp_$1_$2?p_uri=$3&$args;
    }
    location  ^~ /v1.htm {
      rewrite ^/?v1\.html?/([a-z_][a-z0-9_]*)/([a-z_][a-z0-9_]*)/(.+)$ /index.php?api_p1=$1&api_p2=$2&api_uri=$3 break;
      rewrite ^/?v1\.html?/?(.*)$ /index.php?api_p1=$1 break;

      include snippets/fastcgi-php.conf;
      fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
} # \server

server {
        server_name api-htm.addressforall.org;
        access_log /var/log/nginx/addressforall.org.access_log;
        root /var/www/addressforall.org/;
        index  index.php index.html index.htm;

    location / {
      try_files $uri $uri/  /index.php?uri=$uri;
    }

    location ~ \.php$ {
          include snippets/fastcgi-php.conf;
          fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

} # \server

# ------------------------

server {
        server_name addressforall.org addressforall.com www.addressforall.org;
        access_log /var/log/nginx/addressforall.org.access_log;
        root /var/www/addressforall.org/;
        index  index.php index.html index.htm;

    # JSON SQL & RPC:
    location /_sql.csv/ {
      proxy_set_header Accept 'text/csv';
      proxy_pass http://localhost:3104/;
    }
    location /_sql.json/ {
      proxy_pass http://localhost:3104/;
    }
    location /_sql/ {
      proxy_pass http://localhost:3104/;
    }

    location / {
      try_files $uri $uri/  /index.php?uri=$uri;
    }

    location ~ \.php$ {
          include snippets/fastcgi-php.conf;
          fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
} #end server
